@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial;
    background-image: url("../img/fundo.png");
    background-size: cover;
}

/* TITULO */
.titulo{
    text-align: center;
    margin-top: 15%;
    color: rgb(0, 204, 255);
}

/* BOX LOGIN */
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 30%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(192, 235, 255, 0.7);
    border-radius: 10px;
}

/* INPUT */
.senha{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
}

/* BOTÃO */
.entrar, .validar{
    margin-top: 20px;
    width: 60%;
    height: 40px;
    cursor: pointer;
}

/* CAPTCHA GRID */
#grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 30px;
}

/* PEÇAS */
.bloco {
    width: 100px;
    height: 100px;
    background-image: url("../img/18.jpg");
    background-size: 300px 300px;
    border: 2px solid black;
    cursor: pointer;
}

/* SELEÇÃO */
.selecionado {
    border: 4px solid red;
}

/* MOBILE */
@media (max-width: 768px){

    body{
        background-image: url("../img/Fundocel.png");
    }

    .box{
        width: 80%;
    }

    #grid {
        grid-template-columns: repeat(3, 80px);
    }

    .bloco{
        width: 80px;
        height: 80px;
        background-size: 240px 240px;
    }
}
